html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-family: monospace, courier;
    font-size: 1px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow: hidden;
}

*, *:before, *:after {
    box-sizing: border-box;
    transform-style: preserve-3d;
}

.root {
    width: 100%;
    height: 100%;
}

.spawnPoint {
    position: absolute;
    top: 50%;
    left: 50%;
}

.meta {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.coordinates,
.fps {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 16rem;
    color: #fff;
}

.fps {
    left: auto;
    right: 0;
}

.cubeFaceUnderlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: #202020;
    backface-visibility: hidden;
}

.cubeFace {
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    background-color: #202020;
}

.cubelet {
    position: absolute;
    top: 0;
    left: 0;
    width: 100rem;
    height: 100rem;
}

.magicCube {
    position: absolute;
    top: 0;
    left: 0;
    width: 300rem;
    height: 300rem;
}
